body {
  background-image: url("https://image.freepik.com/free-vector/watercolour-abstract-background_1048-9210.jpg");
  background-repeat: no-repeat;
  background-size: cover
}

nav>ul {
  text-align: right;
}

nav>ul>li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: orange;
  font-family: 'Mali', cursive;
}

nav>ul>li>a:hover {
  background-color: white;
  border-radius: 20px;
}

#nav {
  position: fixed;
  right: 60px;
}

.home {
  background: #EFF7F9;
  width: 50%;
  border-radius: 15px;
  margin: 0 auto;
  height: auto;
  padding: 90px;
  position: relative;
  top: 20%;
  box-shadow: 2px 2px 5px white;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.home h2 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .home{
    width: 100%;
    height: 100vh;
    padding: -50%;
    position: relative;
    top: 10%;
    margin: 0px;

  }
  body{
    width: 50%;
    height: 100vh;
  }
  #nav {
    position: fixed;
    right: 30px;

  }
}
