nav>ul {
  text-align: right;
}

nav>ul>li {
  display: inline-block;
}
nav ul li a {
  padding: 18px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color:orange;
  font-family: 'Mali', cursive;
}
nav>ul>li>a:hover {
  color: white;
  background-color: black;
}
#nav {
  position: fixed;
  right: 60px;
}

#h2 {
  text-align: center;
  position: relative;
  top: 40px;
}
.home {
  padding: 30px;
}
.forms{
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.buttons {
  text-align: center;
}

.instruct {
    background-color: #3498DB;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 15px;
}

.instruct:hover {
    background-color: #2980B9;
}

.instructions {
    position: relative;
    bottom: 300px;
    display: inline-block;
}

.instructions-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {display:block;}
